* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-text: "Inter", sans-serif;

  --light_100: #ffffff;
  --background: #663399;
  --purple_100: #2f3676;
  --purple_200: #191847;
  --gray_100: #f2f2f2;
  --gray_200: #dde3e9;
  --gray_300: #c5cfd6;
  --gray_400: #979797;
  --gray_500: #555555;
  --gray_600: #071723;
  --green: #00c57c;
  --pink: #f59393;
  --red: #f33232;

  font-size: 62.5%;
}

body {
  background-color: var(--background);
  color: var(--gray_600);
}

body * {
  font-family: var(--ff-text);
  font-size: 1.6rem;
}

.form-page {
  width: min(55rem, 85%);
  margin: 2rem auto;
  background-color: var(--gray_100);
  border-radius: 0.8rem;
  box-shadow: 1rem 2.2rem 3.4rem 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.form-header {
  width: 100%;
  height: 18.7rem;
  background: url(images/header.png) center right no-repeat;
  background-size: cover;
  padding: 2.3rem 3.6rem;
}

.form-header .header-title {
  color: var(--light_100);
  font-size: 2.3rem;
  font-weight: 300;
  line-height: 1.46;
  max-width: 21.9rem;
}

.form-header .header-title strong {
  font-size: 2.4rem;
  font-weight: 700;
}

#request-stickers {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 3.2rem;
}

#request-stickers fieldset {
  border: 0;
}

#request-stickers legend {
  margin-bottom: 1.5rem;
}

#request-stickers legend,
.amount-wrapper label,
.textarea-wrapper label {
  font-size: 1.8rem;
  font-weight: 600;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 0.9rem;
}

.checkbox-wrapper + .checkbox-wrapper {
  margin-top: 0.8rem;
}

.checkbox-wrapper input {
  appearance: none;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 0.4rem;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-wrapper input::before {
  content: "";
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  background: var(--purple_100);
  border-radius: 0.4rem;
  transition: all 0.4s;
}

.checkbox-wrapper input:hover::before {
  background: var(--purple_200);
}

.checkbox-wrapper input:checked:before {
  background: none;
  background-image: url(images/bxs-checkbox-checked.svg);
}

.checkbox-wrapper input:disabled:before {
  background: var(--gray_300);
  cursor: auto;
}

.checkbox-wrapper input:invalid:before {
  background: var(--pink);
}

.checkbox-wrapper label {
  cursor: pointer;
}

.amount-wrapper label {
  display: inline-block;
  margin-bottom: 1.5rem;
}

.counter {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.counter .decrement,
.counter .increment {
  width: 4.2rem;
  height: 4.2rem;
  border: none;
  border-radius: 0.4rem;
  background: transparent;
  cursor: pointer;
}

.counter .decrement:hover svg path,
.counter .increment:hover svg path {
  transition: all 0.4s;
}

.counter .decrement:hover svg path,
.counter .increment:hover svg path {
  fill: var(--purple_200);
}

.counter .decrement:disabled svg path,
.counter .increment:disabled svg path {
  fill: var(--gray_300);
}

.counter #input-amount {
  width: 6rem;
  height: 4.2rem;
  background: var(--gray_200);
  border: 1px solid var(--purple_100);
  border-radius: 0.4rem;
  font-size: 2rem;
  font-weight: 700;
  padding: 0.9rem 1.1rem;
  text-align: center;
}

.counter #input-amount:invalid {
  background: var(--pink);
  border: 1px solid var(--red);
}

.textarea-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.textarea-wrapper #input-comments {
  width: 100%;
  height: 14rem;
  background: var(--gray_200);
  border: 1px solid var(--purple_100);
  border-radius: 0.8rem;
  color: var(--gray_600);
  font-size: 1.4rem;
  line-height: 2.4rem;
  padding: 1.6rem;
  resize: none;
}

.textarea-wrapper #input-comments::placeholder {
  color: var(--gray_400);
}

footer {
  background: var(--gray_200);
  padding: 3.2rem;
  display: flex;
  justify-content: flex-end;
}

footer .form-submit {
  background: var(--purple_100);
  border: 2px solid var(--purple_100);
  border-radius: 0.8rem;
  color: var(--light_100);
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 0.8rem 3.2rem;
  text-transform: uppercase;
  transition: all 0.4s;
}

footer .form-submit:hover {
  background: var(--purple_200);
  border: 2px solid var(--purple_100);
}

footer .form-submit:disabled {
  background: var(--gray_300);
  border: 2px solid var(--gray_500);
  color: var(--gray_500);
  cursor: auto;
}
